body {
    background-image: url("/img/1.jpg");
    background-attachment: fixed; /* This line makes the background image steady */
    background-size: cover; /* This ensures the background image covers the entire screen */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(3px);
    z-index: -1; 
} */
#buttonDiv {
    margin-left: auto;
    display: grid;
    grid-template-columns: auto auto;
    
}
#uploadButton {
    border-style: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
    margin-left: auto;
}
#logInButton {
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
    background-color: black;
    color: white;
    margin-left: 1px;
    margin-right: 10px;
}

#navbar p {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
#navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto ;
}

#category {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin-top: 80px;
}
#category a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

form {
    display: none;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    left: 400px;
    padding: 15px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#fileName {
    
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    padding: 10px;
    width: 95%;

    /* border-style: none; */
}
form p {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
form label {
    font-size: 15px;
}

#categoryDiv {

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.categoryItem {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

#categoryButton {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
#categoryButton2 {
    margin-left: auto;
}
#cancelButton {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 60px;
    border-style: none;
    border-radius: 5px;
}
#resetButton {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
}
#submitButton {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 60px;
    border-style: none;
    border-radius: 5px;
}


#thumbnail {
    margin: auto;
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

#pdfTitle {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
#likeDiv {
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
    
}
#likeDiv p {
    margin: 0px;
    padding: 0px;
}
#cardButton {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: end;
}
#cardButton img {
    
   height: 20px;
   width: 20px;
}

#addedBy {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}
.pdfCard {
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    background-color: white;
}

#pdfs {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    padding: 10px;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: space-evenly;
    align-items: center;
}

#content {
    flex: 1;
}
footer {
    background-color:rgba(255, 255, 255, 0.402);
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer a {
    color: #e2660e;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}   



#userIcon {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}